:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --white-color: #fff;
  --accnt-color: #2196f3;
  --button-color: #f5f4fa;
  --roboto-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}
body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: var(--roboto-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
}
.container {
  width: 1200px;
  padding: 0 15px 0 15px;
}
.list {
  padding: 0;
  margin: 0;
}

/* Навигация
========================== */
.header {
  padding: 25px 0;
}

.logo {
  text-decoration: none;
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--title-text-color);
}
.logo-decoration {
  font-family: var(--logo-font);
  color: var(--accnt-color);
}
.nav-list {
  list-style: none;
}

.nav-list-item {
  text-decoration: none;
  font-weight: 500;
  color: var(--title-text-color);
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--accnt-color);
}

.nav-contact {
  list-style: none;
}
.nav-contact-item {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
}

.nav-contact-item:hover,
.nav-contact-item:focus {
  color: var(--accnt-color);
}

/* Features
========================== */
.hero {
  padding: 200px 0;
  text-align: center;
  background: #2f303a;
}
.hero-tetle {
  text-transform: uppercase;
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  color: var(--white-color);
}
.hero-button {
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;
  border-radius: 4px;
  border-color: var(--accnt-color);
  font-family: var(--roboto-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--accnt-color);
  color: var(--white-color);
  cursor: pointer;
}
.features {
  padding: 94px 0;
}
.features-list {
  list-style: none;
}
.tiile-none {
  margin: 0;
}
.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
}
.features-text {
  color: var(--text-color);
  line-height: 1.7;
}

/* Work
========================== */
.work {
  text-align: center;
  align-items: center;
}
.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  color: var(--title-text-color);
}
.work-item {
}
/* Team
========================== */
.team {
  background-color: var(--text-color);
  padding: 94px 0;
}
.team-list {
  list-style: none;
}
.team-item {
  margin-bottom: 30px;
}
.team-title {
  margin-top: 0%;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  color: var(--title-text-color);
}
.team-title-name {
  margin-top: 0;
  font-size: 16px;
  color: var(--title-text-color);
}
.team-text {
  font-size: 16px;
  margin: 10px 0 30px;
}

/* Footer
========================== */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--white-color);
}
.address {
  font-style: inherit;
}
.address-list {
  display: inline-block;
  list-style: none;
}
.address-link {
  display: inline-block;
  margin-bottom: 9px;
  text-decoration: none;
  font-style: inherit;
  line-height: 1.7;
  color: var(--white-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accnt-color);
}

.contact-mail {
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  display: inline-block;
}
.contact-mai:hover,
.contact-mai:focus {
  color: var(--accnt-color);
}

.contact-tell {
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.contact-tell:hover,
.contact-tell:focus {
  color: var(--accnt-color);
}

/* Portfolio
========================== */
.filter {
  padding: 95px 0 50px;
}
.filter-list {
  list-style: none;
}
.filter-button {
  font-family: var(--roboto-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--button-color);
  color: var(--title-text-color);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accnt-color);
  color: var(--white-color);
}
.portfolio {
  padding-bottom: 95px;
}
.portfolio-list {
  list-style: none;
}
.portfolio-link {
  text-decoration: none;
}

.portfolio-title {
  margin: 20px 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}
.portfolio-text {
  margin: 0%;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
}
